<%- layout('/layouts/boilerplate') %>
<h1 class="col-6 offset-3 mb-3 mt-2">SignUp on Wanderlust</h1>
<div class="row">
  <div class="col-6 offset-3">
    <form action="/signup" method="POST" novalidate class="needs-validation">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          name="email"
          id="email"
          placeholder="Enter your email"
          class="form-control"
          required
        />
        <div class="valid-feedback">email looks good</div>
        <div class="invalid-feedback">Enter correct email</div>
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Username</label>
        <input
          name="username"
          id="username"
          placeholder="Enter your username"
          class="form-control"
          required
        />
        <div class="valid-feedback">username looks good</div>
        <div class="invalid-feedback">Enter correct username</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          name="password"
          id="password"
          type="password"
          placeholder="Enter a secure password"
          class="form-control"
          required
        />
        <div class="valid-feedback">password looks good</div>
        <div class="invalid-feedback">Enter correct password</div>
      </div>
      <button type="submit" class="btn btn-success">Sign Up</button>
    </form>
  </div>
</div>
